{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Welcome {{request.user.username}}</h1>
            <h2 class="masthead-subheading mb-0"></h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Click here to see your matches!</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section id = "scroll">
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!--Carousel item-->
    <div class="carousel-inner">
        <!--for loop, matches return items-->
        {% for key in allusers %}
        <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %} carousel-fade"
            id="{{ forloop.counter }}">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">

                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'images\daisy.jpg' %}"
                            alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <!--Return populated from matches view, takes individual users and displays them on seperate html elements.-->
                            <h2 class="display-5">{{key.username|capfirst}}</h2>
                            <hr>
                            <h3 class="display-6">Location:</h3>
                            <ul>{{key.location}}</ul>
                            <hr>
                            <h3 class="display-6">Services needed/provided:</h3>
                            {% for need in key.needs%}
                            <ul>{{need}}</ul>
                            {% endfor %}
                            <hr>
                            <h3 class="display-6">Contact Details:</h3>
                            <ul >{{key.email}}</ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</div>
</section>
{% endblock content %}
{% block scripts %}
{% endblock %}